<div class="container mt-5">

<form #loginForm="ngForm">
    <label for="email"> Email :</label>
    <input email 
        required 
        type="text" 
        ngModel 
        name="email"
        class="form-control"
        id="email"
        #email="ngModel">
        
        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
            L'email n'est pas valide
        </div>
    
    <label for="password"> Password :</label>
    <input password 
        required 
        ngModel
        minlength="4"
        type="password" 
        ngModel name="password"
        class="form-control"
        id="password"
        #password="ngModel">

    <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
        Le mot de passe doit contenir au moins 4 caractères
    </div>
    <button [disabled]="loginForm.invalid" class="btn btn-primary" (click)="login(loginForm)"> Login </button>
</form>
</div>